body
{
    padding: 8px;
    background-color: azure;
}

header
{
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    border: 2px solid black;    
    padding: 10px;
    margin-bottom: 10px;
}

.euros
{
  
}

table, tr, td, th
{
    border: 1px solid black;
    border-collapse: collapse;
    caption-side: bottom;
    text-align: center;
}

th
{
    background-color: aquamarine;
}

td
{
    background-color: white;
}

th, td
{
    padding: 5px;
}

table
{
    margin-right: 20px;
}


h1
{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section
{
    margin-top: 10px;
}

section h1
{
    text-align: center;
}

details
{
    text-align: left;
    margin: 8px;
    border: 2px solid dashed;
    border-radius: 5px 5px 5px 5px;
    background-color: aqua;
    width: auto;
    word-wrap: break-word;
    overflow: auto;
    padding: 10px;
}

details summary{
    text-align: center;
    border: 2px solid dashed;
    background-color: aqua;
}

.ruppies
{
    height: 5px;
    font-size: 12px;
}


